body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h3 {
  margin-top: 20px;
}

div {
  margin: 10px;
}

.card {
  background: white;
  padding: 10px;
  margin: 5px auto;
  width: 250px;
  border-radius: 8px;
}

button {
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}
